<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<!-- <link th:href="@{/views/bootstrap/bootstrap.min.css}"  rel="stylesheet"> 
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">

</head>
<body>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
	<!--   <script src = "bootstrap/bootstrap.min.js" ></script> -->

	<style>
.my-custom-row {
	background-color: bisque;
}
</style>

	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/university">University</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Auditorium </a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="/university/auditoriums">Get
										all</a></li>
								<li><a class="dropdown-item"
									href="/university/auditoriums/new.html">Create</a></li>
							</ul></li>


						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Course </a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="/university/courses">Get
										all</a></li>
								<li><a class="dropdown-item"
									href="/university/courses/new.html">Create</a></li>
							</ul></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Group </a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="/university/groups">Get
										all</a></li>
								<li><a class="dropdown-item"
									href="/university/groups/new.html">Create</a></li>
							</ul></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Lesson </a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="/university/lessons">Get
										all</a></li>
								<li><a class="dropdown-item"
									href="/university/lessons/new.html">Create</a></li>
							</ul></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
								LessonTime </a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="/university/lessontimes">Get
										all</a></li>
								<li><a class="dropdown-item"
									href="/university/lessontimes/new.html">Create</a></li>
							</ul></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Student </a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="/university/students">Get
										all</a></li>
								<li><a class="dropdown-item"
									href="/university/students/new.html">Create</a></li>
							</ul></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Teacher </a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="/university/teachers">Get
										all</a></li>
								<li><a class="dropdown-item"
									href="/university/teachers/new.html">Create</a></li>
							</ul></li>
					</ul>

				</div>
			</div>
		</nav>
	</header>

	<h3>
		<center>New student</center>
	</h3>


	<div align="center">
		<form action="save" method="post" modelAttribute="student">
		<input type="hidden" name="id" th:value="${student.getId()}"/>
			<table cellpadding="5">
				<tr>
					<td>First Name</td>
					<td><input type="text" name="firstName" th:value="${student.getFirstName()}"/></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" name="lastName" th:value="${student.getLastName()}"/></td>
				</tr>
				<tr>
					<td>Gender</td>
					<td><input type="radio" id="gender1" name="gender"
						value="MALE"> <label for="gender1"> Male</label> <input
						type="radio" id="gender2" name="gender" value="FEMALE"> <label
						for="gender2"> Female </label></td>
				</tr>
				<tr>
					<td>Birth date</td>
					<td><input type="text" name="birthDate" th:value="${#temporals.format(student.getBirthDate(), 'dd.MM.yyyy')}"/></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="email" name="email" th:value="${student.getEmail()}"/></td>
				</tr>
				<tr>
					<td>Phone</td>
					<td><input type="tel" name="phone" th:value="${student.getPhone()}"/></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><input type="text" name="address" th:value="${student.getAddress()}"/></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit"
						value="Update" /></td>
				</tr>

			</table>
		</form>
	</div>

</body>
</html>